body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-image: url('../img/bone-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: 79% 100%;
    background-position: 110%
}

.mainHeader {
    font-weight: bold;
    width: 100%;
    margin-top: 2.0rem;
    display: flex;
    justify-content: space-between;
}

.mainHeader-center span {
    margin-right: 2.7rem;
    font-size: 1.2rem;
}

.element-center {
    display: flex;
}